main {
    height: 90vh;
    width: 100%;
}
header {
    margin-top: 2%;
}
iframe{
    margin:0 auto;
    display:block;
  }

  #ingredient-container {
    text-align: left;
    list-style-position: inside;

  }